@charset "UTF - 8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../imagens/bg-mobile.jpg) top center no-repeat;
  background-size: cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: white;
}


#container {
  width: 360px;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

/*Links */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}
ul li a {
  /*display: block;
  text-align: center;
  padding: 16px 24px; maneira que aprendir.*/

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: rgb(255, 255, 255, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

ul li a:hover {
  background: rgb(255, 255, 255, 0.05);
  border: 1.5px solid white;
}
/*sociallinks*/
#sociallink {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

#sociallink a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 50%;
  transition: background 0.2s;
}

#sociallink a:hover {
  background: rgb(255, 255, 255, 0.2);
}

footer {
  font-size: 14px;
  padding: 24px 0;
  text-align: center;
}